.quote__container {
    /* background: #0F4C75; */
    background: linear-gradient(90deg, #a82c77 0%, #cf3863 35%, #ea494c 70%, #ef6133 100%);

    min-height: 100vh;
    display: grid;
    place-content: center;
}

.quote__block {
    margin: auto;
    width: 650px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.QuoteBtn {
    width: 100%;
    text-align: center;
    padding: 10px;
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    margin-top: 24px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
}

.QuoteBtn:hover {
    background: rgba(255, 255, 255, 0.6);
    border: 2px solid rgba(255, 255, 255, 0.5);
    color: #000;
}

#quote__text {
    color: #fff;
    font-size: 22px;
    line-height: 25px;
    text-align: justify;
}

#quote__author {
    font-style: italic;
    color: #fff;
    text-align: right;
    font-size: 17px;
    font-weight: 700;
}

div#quote__tweet {
    padding: 0 0 20px;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

@media screen and (min-device-width: 320px) and (max-device-width: 720px) {
    .quote__block {
        width: 325px;
    }
}

/* 320px — 480px */